<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lightemittingsmew.redditreader"
    android:versionCode="8"
    android:versionName="1.71" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:vmSafeMode="true" >
        <activity
            android:name="com.lightemittingsmew.redditreader.FrontPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lightemittingsmew.redditreader.Comments"
            android:label="@string/title_activity_comments" >
        </activity>
        <activity
            android:name="com.lightemittingsmew.redditreader.Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.lightemittingsmew.redditreader.Articles"
            android:label="@string/title_activity_article" >
        </activity>
        <activity
            android:name="com.lightemittingsmew.redditreader.Reply"
            android:label="@string/title_activity_reply" >
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.lightemittingsmew.redditreader.User"
            android:label="@string/title_activity_user" >
        </activity>
        <activity
            android:name="com.lightemittingsmew.redditreader.SubredditSearch"
            android:label="@string/title_activity_subreddit_search" >
        </activity>
        <activity
            android:name="com.lightemittingsmew.redditreader.Inbox"
            android:label="@string/title_activity_inbox" >
        </activity>
        <activity
            android:name="com.lightemittingsmew.redditreader.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
    </application>

</manifest>
